.jumbotron {
  margin-bottom: 0%;
  background-color: #4285f4;
  color: white;
}

.display-4 {
  font-weight: bolder;
}

.display-4 {
  text-align: center;
}

.menu {
  background-color: rgb(173, 173, 173);
  float: left;
  height: 100vh;
}

.citySearch {
  margin-top: 4%;
}

#searchInput {
  width: 100%;
}

#searchBtn {
  width: 100%;
}

.cityContainer {
  float: right;
  margin-top: 1%;
  display: none;
}

.cityInfo {
  border: 1px solid rgb(173, 173, 173);
  border-radius: 4px;
  padding: 0.5% 2% 0.5%;
}

.selectedCity {
  font-size: 2em;
  font-weight: bold;
}

.row {
  display: flex;
  justify-content: center;
}

.card {
  background-color: #4285f4;
  color: rgb(255, 255, 255);
  margin: 3%;
  padding: 2%;
}

#icon {
  width: 50px;
  align-self: center;
}

.btn-group-vertical {
  margin-top: 3%;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .menu {
    height: auto;
  }
}
