.jumbotron {
  margin-bottom: 0%;
  background-color: darkcyan;
}

.display-4 {
  font-weight: bolder;
}

.display-4 {
  text-align: center;
}

.menu {
  background-color: rgb(173, 173, 173);
  float: left;
  height: 100vh;
}

.citySearch {
  margin-top: 4%;
}

.cityContainer {
  float: right;
  margin-top: 1%;
}

.cityInfo {
  border: 1px solid rgb(173, 173, 173);
  border-radius: 4px;
  padding: 0.5% 2% 0.5%;
}

.selectedCity {
  font-size: 2em;
  font-weight: bold;
}

.row {
  display: flex;
  justify-content: center;
}

.dayCard {
  background-color: blue;
  color:rgb(255, 255, 255);
  margin: 3%;
  padding: 2%;
}